@import "tailwindcss";

@theme {
  --color-primary: #0d9488;
  --color-primary-hover: #0f766e;
  --color-background-light: #f8fafc;
  --color-background-dark: #0f172a;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1e293b;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-background-dark);
  color: #ededed;
  font-family: var(--font-sans);
}
